<div class="container">
	<h1>次回開催情報</h1>
</div>
<div class="container next_detail">
	<p class="event_info_item">開催日時</p>
	<p>2018/6/24(土) 14:00～20:15</p>
	<p class="event_info_item">開催場所</p>
	<p>京都スワロウテイル(<a href="http://swallowtail.asia/?page_id=28">アクセス</a>)</p>
	<p class="event_info_item">参加料金</p>
	<p>1500円＋1D(お得な各種割引！)</p>
	<p class="event_info_item">スペシャルゲスト</p>
	<div class="row guest_info_area">
		<div class="col-xs-12">
			<p class="guest_name">スキャンパー村上 [DJ]</p>
		</div>
		<div class="col-xs-12">
			<p class="guest_credit">(MILK BACK DROP/PDF倶楽部/すだちナイト)</p>
		</div>
		<div class="col-xs-12">
			<img src="/assets/images/event/murakami.jpg" class="img-responsive" alt="DJスキャンパー村上">
		</div>
		<div class="col-xs-12">
			<p class="guest_intro_text"><br>2016年12月PDF倶楽部にてDJデビュー。<br>
アニソンとエロゲの原曲を好み、とにかくかわいい女の子が登場する作品が大好物。<br>
好きなキャラクターに対しては一途な純愛大好き限界おたく。<br>
結婚までいくストーリーが僕のドストライクになります。<br><br>

2011年2月25日から日向ハイツの住人となり、未だ日向ハイツから出ることが出来ていない…<br><br>

ひなたテラスをどうぞよろしくお願いします！</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<p class="event_info_item">イベント内容</p>
		</div>
		<div class="col-xs-12">
			<p>―DJパフォーマンス</p>
		</div>
		<div class="col-xs-6">
			<p class="intro_text">オタクによるオタクの為のDJパフォーマンス。”好き”を表現したパフォーマンスに、乞うご期待。</p>
		</div>
		<div class="col-xs-6">
			<img src="/assets/images/event/dj.png" class="img-responsive" alt="DJパフォーマンス">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<p>―サウンドクラッシュ</p>
		</div>
		<div class="col-xs-6">
			<p class="intro_text">DJ同士が曲を掛けあって、オーディエンスの歓声で勝敗を決するショーケース。<br>決められた時間の中で、この日のために用意した音源を使い、時にはMCなどで攻撃し合う。<br>オタク・サウンドクラッシュでは、音源に加え映像・トークでコンテンツに対する恋を語り、どちらの恋がよりオーディエンスに伝わったかを競い合います。</p>
		</div>
		<div class="col-xs-6">
			<img src="/assets/images/event/sound-crash.png" class="img-responsive" alt="DJパフォーマンス">
		</div>
	</div>
	<hr>
	<p class="event_info_item">割引情報</p>
	<p>現在調整中！</p>
	<br>
</div>
<br>
<div class="container">
	<a href="/events/attend/<%= @id %>"><button type="button" class="btn btn-primary btn-lg btn-block">ツイッターと連携して参加表明</button></a>
</div>
<hr>
<div class="container">
	<h2>参加者一覧</h2>
	<hr>
	<% if @event.attends %>
	<% @event.attends.each do | attend | %>
	<div class="row attend_otaku col-xs-12 col-md-7 col-sm-7">
		<a href="/gachimate/show/<%= attend.user.id %>">
			<%= image_tag(get_prof_image_user_path(attend.user.id), :class => "pull-left") %>
			<p class="attend_otaku_name"><%= attend.user.name %></p>
			<p class="attend_otaku_attribute">
				<span class="label label-default">
					<%= attend.user.favorite %>推し
				</span>
				<% if attend.user.labels %>
					<% attend.user.labels.each do | label | %>
						<span class="label label-warning"><%= label.name %></span>
					<% end %>
				<% end %>
			<p>
		</a>
	</div>
	<% end %>
	<% end %>
</div>
<hr>
<div class="container">
	<button type="button" class="btn btn-primary btn-lg btn-block">ツイッターと連携して参加表明</button>
</div>